{% extends 'base.html.twig' %}
{% use 'menu.html.twig' %}

{% block body %}

	{% if is_granted('ROLE_USER') %}
		<h4>{{ " Hi " ~ app.user.username ~ " ! " }}</h4>
	{% else %}
		<h4>Log in please !</h4>
	{% endif %}

{% endblock %}